@{
    // This view scaffolds the news feed page
    // articles are loaded dynamically by the client
    
    // the text strings could be moved into a constants file, but that feels like overkill
    
    ViewBag.Title = "News Feed Demo";
}

<div class="container">
    <div class="header">
        <h1>News Feed</h1>
    </div>
    <div id="articleContainer"></div>
    <div class="footer">
        <button id="loadMore" class="hidden">Load More</button>
        <div id="loading">[ loading ]</div>
        <div id="allArticlesLoaded" class="hidden">[ end of feed ]</div>
    </div>
</div>

@section scripts {
    <script src="~/Scripts/app.js"></script>
}